@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

/* Mobile menu */

/* Show mobile menu when checkbox is checked */
#menu-toggle ~ #mobile-menu {
    display: none;
}
#menu-toggle:checked ~ #mobile-menu {
    display: block;
}

/* /\* Optional: Animate the mobile menu appearance *\/ */
/* #mobile-menu { */
/*     transition: max-height 0.3s ease-in-out; */
/*     max-height: 0; */
/*     overflow: hidden; */
/* } */

/* #menu-toggle:checked + label + #mobile-menu { */
/*     max-height: 1000px; /\* Arbitrary large value to ensure full visibility *\/ */
/* } */

/* Program elements */

.program-event h5 {
    text-transform: lowercase;
    font-variant-caps: small-caps;
}

.program-event a {
    color: #06d;
    text-decoration-style: dotted;
}

.program-event a:hover {
    text-decoration-style: solid;
}


.hymn-number {
    margin-right: 1rem;
}

.hymn-name {
    font-style: italic;
}

.hymn-links {
    display: block;
    font-size: 0.8rem;
    margin-top: -0.2rem;
}
.hymn-links a {
    color: var(--subtle-link-color);
    text-decoration-style: dotted;
}
.hymn-links a:hover {
    text-decoration-style: solid;
}
.hymn-link-sep {
    margin: 0 0.5rem;
    color: var(--body-accent-font-color);
    font-size: 0.6rem;
}
.hymn-links a::after {
    content: "↗";
    vertical-align: super;
    font-size: 0.6rem;
    text-decoration: none;
}

.hymn-pdf-link {
}

.hymn-verses {
    display: block;
    font-size: 0.8rem;
    margin-top: -0.2rem;
    color: var(--body-accent-font-color);
}

.musical-number-name {
    font-style: italic;
}

.announcement {
    margin-bottom: 2rem;
}

.announcement .announcement-header {
    font-weight: 600;
    display: block;
    clear: both;
}

.calendar-event {
    margin-bottom: 2rem;
}

.calendar-event .event-metadata {
    margin-bottom: 0.2rem;
}

.event-datetime {
    font-size: 0.8rem;
}

.event-ical-link {
    display: block;
    font-size: 0.8rem;
    margin-top: -0.2rem;
    color: var(--subtle-link-color);
    text-decoration-style: dotted;
}

.event-ical-link::after {
    content: "↘";
    font-size: 0.6rem;
    text-decoration: none;
}

.event-ical-link:hover {
    text-decoration-style: solid;
}

.calendar-event .event-title {
    font-weight: 600;
    display: block;
}
