<main>
  <div>
    {@inner_content}
  </div>
  <footer>
    <div style="font-size: 0.7rem; text-align: center">
      <span>
        <.link href="/meetings">← Edit this program</.link>
      </span>
      <span style="padding: 0 0.5rem">◊</span>
      <span>
        Built with <.link href="/">Rostrum</.link>
      </span>
    </div>
  </footer>
</main>
