<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link phx-track-static rel="stylesheet" type="text/css" href={~p"/assets/css/fonts.css"}>
    <link phx-track-static rel="stylesheet" type="text/css" href={~p"/assets/css/program.css"}>
    <!-- <link phx-track-static rel="stylesheet" type="text/css" href={~p"/assets/css/program_serif.css"}> -->
  </head>
  <body>
    {@inner_content}
  </body>
</html>
