<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable] h-full">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title default="Rostrum" suffix=" · Online Programs">
      {assigns[:page_title]}
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white flex flex-col min-h-screen">
    <div class="flex-1">
      {@inner_content}
    </div>
  </body>

  <footer class="bg-gray-50 text-gray-800">
    <div class="max-w-7xl mx-auto px-4 py-6 flex flex-col md:flex-row items-center justify-between">

      <a href="/">
        <div class="flex items-center mb-4 md:mb-0">
          <svg version="1.1" xmlns:xl="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" xmlns:dc="http://purl.org/dc/elements/1.1/" viewBox="704 354.93176 341.5 436.5487" class="size-10">
            <defs>
              <marker orient="auto" overflow="visible" markerUnits="strokeWidth" id="FilledBall_Marker_root" stroke-linejoin="miter" stroke-miterlimit="10" viewBox="-1 -2 4 4" markerWidth="4" markerHeight="4" color="#434c5d">
                <g>
                  <circle cx=".9999995" cy="0" r="0.999999116227774" fill="currentColor" stroke="currentColor" stroke-width="1"/>
                </g>
              </marker>
            </defs>
            <g id="canvas_1_root" fill-opacity="1" stroke="none" stroke-opacity="1" fill="none" stroke-dasharray="none">
              <title>Rostrum</title>
              <g id="canvas_1_root_Layer_1">
                <g id="Graphic_4_root">
                  <path d="M 816.5 537.5 L 933 537.5 C 935.2091 537.5 937 539.29086 937 541.5 L 937 731 C 937 733.2091 935.2091 735 933 735 L 816.5 735 C 814.2909 735 812.5 733.2091 812.5 731 L 812.5 541.5 C 812.5 539.29086 814.2909 537.5 816.5 537.5 Z" fill="#5d81ac"/>
                </g>
                <g id="Graphic_5_root">
                  <path d="M 716.71615 790.4805 L 1032.7838 790.4805 C 1034.993 790.4805 1036.7838 788.6896 1036.7838 786.4805 C 1036.7838 785.2418 1036.21 784.0731 1035.23 783.3156 L 977.6805 738.8351 C 976.98 738.2937 976.1197 738 975.2344 738 L 774.2656 738 C 773.3803 738 772.52 738.2937 771.8195 738.8351 L 714.27 783.3156 C 712.5221 784.6666 712.2003 787.1787 713.5513 788.9266 C 714.3088 789.9066 715.4775 790.4805 716.71615 790.4805 Z" fill="#81a1c1"/>
                </g>
                <g id="Line_6_root">
                  <path d="M 821.9805 455 L 828.3203 392.1328 L 894.9597 368.21884" marker-end="url(#FilledBall_Marker_root)" stroke="#434c5d" stroke-linecap="round" stroke-linejoin="round" stroke-width="6"/>
                </g>
                <g id="Graphic_3_root">
                  <path d="M 740.7659 455 L 1008.7341 455 C 1010.9432 455 1012.7341 456.79086 1012.7341 459 C 1012.7341 459.8327 1012.4742 460.6447 1011.9907 461.3226 L 960.9963 532.8226 C 960.2456 533.8752 959.0325 534.5 957.7397 534.5 L 791.7603 534.5 C 790.4675 534.5 789.2544 533.8752 788.5037 532.8226 L 737.50935 461.3226 C 736.2266 459.52406 736.64474 457.02616 738.4433 455.7434 C 739.1213 455.2599 739.9332 455 740.7659 455 Z" fill="#81a1c1"/>
                </g>
              </g>
            </g>
          </svg>

          <span class="text-xl font-semibold ml-4 pt-2">Rostrum</span>
        </div>
      </a>
      <!-- Navigation Links -->
      <nav class="flex space-x-6 pt-2">
        <a href="https://github.com/ashton314/rostrum" class="hover:text-slate-500">Source Code</a>
        <a href="/privacy" class="hover:text-slate-500">Privacy</a>
        <a href="/about" class="hover:text-slate-500">About</a>
        <a href="/donate" class="hover:text-slate-500">Donate</a>
      </nav>
    </div>
  </footer>
</html>
