<div class="max-w-xl mx-auto">
  <h3 class="text-3xl my-4 font-semibold">Donate to Rostrum</h3>

  <p class="my-3">
    Rostrum incurs minor hosting costs. If you have found Rostrum useful and would like to help cover hosting, you can either host your own instance or consider donating to help cover hosting costs.
  </p>

  <p class="my-3">
    I am in the process of setting up a GitHub sponsorship for this project—that will be the easiest way to donate.
  </p>
</div>
