<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:text-center">
      <p class="mt-2 text-pretty text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl lg:text-balance">No meeting found</p>
      <p class="mt-6 text-lg/8 text-gray-600">Please double-check your URL. If you are working on editing a meeting, head back to the <a href="/meetings" class="text-pretty text-sky-600">Rostrum control panel</a></p>
    </div>
  </div>
</div>
